.root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 2;
  opacity: 0.5;
  position: fixed;
  transition: 300ms;
  padding-top: 60px;
  background: #fafafa;
  transform: translateY(100vh);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.root.up {
  opacity: 1;
  transform: translateY(0);
}

.detail-container {
  position: relative;
}

.backdrop {
  width: 100%;
  height: 32vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #efefef;
}

.backdrop img.backdrop-bg {
  top: -8px;
  left: -8px;
  z-index: -1;
  margin-top: -5vh;
  filter: blur(8px);
  position: absolute;
  width: calc(100% + 16px);
  -webkit-filter: blur(8px);
}

.name {
  margin: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}

.detail-list {
  width: 100%;
  margin-top: 8px;
}

.detail-list-item {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
}

.detail-title {
  color: #424242;
  font-weight: 600;
  padding: 20px 16px 12px;
}

.detail-list-item .label {
  color: #666;
}

.detail-list-item .value {
  color: #424242;
  font-weight: 500;
}
